configuration/user-profile/adrian.png
scripts/power-settings.sh
scripts/restart-ops+kci.sh
scripts/update.sh
scripts/update_w_reflector.sh
scripts/wallpaper-change.sh
theme/wallpapers/midnight-wallpaper.jpg
theme/wallpapers/morning-wallpaper.jpg
theme/wallpapers/night-wallpaper.jpg
theme/wallpapers/noon-wallpaper.jpg
configuration/screens_db.lua
module/screenful.lua
widget/logout-menu-widget/icons/lock.svg
widget/logout-menu-widget/icons/log-out.svg
widget/logout-menu-widget/icons/moon.svg
widget/logout-menu-widget/icons/power.svg
widget/logout-menu-widget/icons/power_w.svg
widget/logout-menu-widget/icons/refresh-cw.svg
widget/logout-menu-widget/README.md
widget/logout-menu-widget/logout-menu
widget/logout-menu-widget/logout-menu.gif
widget/logout-menu-widget/logout-menu.lua
widget/mpdarc-widget/README.md
widget/mpdarc-widget/mpdarc.lua
widget/mpris-widget/README.md
widget/mpris-widget/init.lua
widget/network/icons/wired-alert.old
widget/network/icons/wired-off.old
widget/network/icons/wired.old
widget/tag-switcher/init.lua
